# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
env/
venv/
.venv/
.env

# Django stuff:
*.log
*.pot
*.pyc

# Database
db.sqlite3

# Media / uploads
media/
uploads/

# Staticfiles
staticfiles/

# IDEs
.idea/
.vscode/

# macOS
.DS_Store

# Testing / coverage
.coverage
htmlcov/
django_*.cover
.pytest_cache/
